##
# Main Setup Params
#
[Setup]
  # https://iexcloud.io/docs/api/#historical-prices
  # see your API data limit
  Range = "3m" # 1d
  BaseURL = "https://cloud.iexapis.com/v1" # production service
  #BaseURL = "https://sandbox.iexapis.com/v1" # devel sandbox URL
  Token = "xxx"
  MaxProcs = 2
  Timeout = 30 # request timeout in seconds
  OutputDir = "var/data/stocks"
  LogFile = "var/log/get-md-iex.log"
  LogLevel = "info" # levels: disabled | error | warning | info | debug

  ##
  # You can combine generated watchlists with manually managed ones.
  #
  Watchlists = [
    "var/data/index/DJIA-components.csv",
    "config/watchlist-custom.csv"
  ]

##
# Converts ticker representation in watchlists
# into data source specific representation.
#
[TickerConversion]
  BF-B = "BF.B"
  BRK-B = "BRK.B"


