##
# Main Setup Params
#
[Setup]
  # https://cryptowat.ch/docs/api
  # see your API data limit
  Range = "3m" # 1d
  BaseURL = "https://api.cryptowat.ch"
  # choose market/exchange
  # https://cryptowat.ch/exchanges
  Exchange = "coinbase-pro"
  Token = "" # token is not needed to use public API
  MaxProcs = 2
  Timeout = 30 # request timeout in seconds
  OutputDir = "var/data/crypto"
  LogFile = "var/log/get-md-cw.log"
  LogLevel = "info" # levels: disabled | error | warning | info | debug

  ##
  # You can combine generated watchlists with manually managed ones.
  #
  Watchlists = [
    "config/watchlist-crypto.csv"
  ]

